[cento] No unidirectional flow exporting possible for IPFIX

There seems to be no way to force cento to export both flow directions as two unidirectional flows separately.
It seems that internally cento tries to keep only one flow if it sees two-way communication between two end-points (with swapped src/dst ipaddress src/dst port).
So it only exports one bi-flow instead of two uni-directional flows.

Imho, there is no such thing as a bi-directional flow. Flows are always unidirectional by definition.
Many collectors can't handle bi-directional flows so there should be at least an option to turn off bi-directional flow export (by that I mean look at both directions of a connection separately and not mix it in a single flow record with in and out fields)


@chriswelti Your statement is not correct. See RFC 5103. We don't want to change this behaviour because at high speed you have many flows and thus sending the same flow twice would double the flow traffic, not to mention that we have to change the template thing that we would like to avoid if possible. Also sending the same flow twice but reverted (using the same template) isn't a solution either. IMHO the problem is in the collector side that should support bidirectional flows. ntopng/nprobe or other commercial collectors such as Plixer (https://www.plixer.com/blog/netflow/bidirectional-netflow-or-netflow-stitching-implementing-rfc-5103/) so, so ask your collector manufacturer or just change collector.

There is definition of biflow export using IPFIX in RFC 5103, however, that doesn't mean it's practical in all cases and it's definitely not the same as two uniflows.
You assume that people want to use/export biflows instead of uniflows.
For us this would definitely a dealbreaker which would prevent us of using cento at all.
In our network, we want to have all flows as uniflows.
For an organisation that has different entry points in the network and many different up and downstreams, the normal case is that traffic is assymmetric. That means that one direction of the flow will usually be monitored by a different interface or even flow exporter than the other direction of the flow.
Also, the non-key fields usually differ for both directions (e.g BGP next/prev AS), which would mean many additional fields needed to be duplicated and separated.
In the case of only using biflows, you also have a lot of unused space as the reverse non-key fields would be all empty for uniflows using the biflows template.
Btw, cento seems to illegally use the standard IPFIX "post" fields (e.g. "Post Bytes") for the reverse direction, instead of using the PEN29305 entities for that as it is written in RFC 5103 section 6.1.
Those "post" fields have a different purpose, namely for middleboxes, that change the content of the packets before they forward them. They don't have anything to do with biflows.

@chriswelti Implemented. By default bidirectional flows are exported. Use --unidirectional to export unidirectional IPFIX flows. Furthermore for bi-directional flows, RFC 5103 is now supported as requested.