[cento] Flow sequence number should not be increased when IPFIX data templates are sent

Apparently, cento increases the flow sequence number when sending netflow templates. The flow sequence number when sending data templates must not be increased.
This leads to "virtual" loss reported at the collector, because they expect the sequence number for flow records to be seamless. (data templates don't count towards the flow sequence number in the IPFIX standard).

See RFC 7011, Section 3.1:

Sequence Number

      Incremental sequence counter modulo 2^32 of all IPFIX Data Records
      sent in the current stream from the current Observation Domain by
      the Exporting Process.  Each SCTP Stream counts sequence numbers
      separately, while all messages in a TCP connection or UDP session
      are considered to be part of the same stream.  This value can be
      used by the Collecting Process to identify whether any IPFIX Data
      Records have been missed.  *Template and Options Template Records
      do not increase the Sequence Number.*



Fixed, thanks for reporting. A new package will be built overnight CEST.